<h2>Student Name : <%= @mark.name%><br /><br />
Mark1 <%= @mark.mark1 %><br /><br />
Mark2 <%= @mark.mark2 %><br /><br />
Mark3 <%= @mark.mark3 %><br /><br />

Total <%= @mark.total %><br /><br />

Grade <%= @mark.grade %> </h2>
